<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% assign title = page.title | default: site.title | escape %}
  {% assign description = page.description | default: page.excerpt | default: site.description | strip_html | normalize_whitespace | escape %}

  <title>{{ title }} &middot; {{ site.title }}</title>
  <meta name="description" content="{{ description }}">

  {% assign canonical = page.url | replace:'index.html','' | absolute_url %}

  <link rel="canonical" href="{{ canonical }}" type="text/html" hreflang="{{ page.lang }}" title="{{ title }}">

  {% assign posts=site.posts | where_exp: "item", "item.ref == page.ref" | where_exp: "item", "item.lang != page.lang" %}
  {% for post in posts %}
    <link rel="alternate"  href="{{ post.url | absolute_url }}" type="text/html" hreflang="{{ post.lang }}" title="{{ post.title | escape }}"/>
  {% endfor %}

  {% assign pages=site.pages | where_exp: "item", "item.ref == page.ref" | where_exp: "item", "item.lang != page.lang" %}
  {% for page in pages %}
    <link rel="alternate"  href="{{ page.url | absolute_url }}" type="text/html" hreflang="{{ page.lang }}" title="{{ page.title | escape }}"/>
  {% endfor %}

  {% assign feed_path = "/feed.xml" %}
  {% if site.feed and site.feed.path %}
    {% assign feed_path = site.feed.path %}
  {% endif %}

  <link rel="alternate" type="application/xml" title="Sitemap" href="{{ "/sitemap.xml" | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ feed_path | absolute_url }}">

  <!-- Social -->

  {% if site.facebook_app_id %}
    <meta property="fb:admins" content="{{ site.facebook_app_id }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:site_name" content="{{ site.title | escape }}">
    <meta property="og:url" content="{{ canonical }}">
    <meta property="og:description" content="{{ description }}">
    {% if site.facebook_page %}<meta property="article:author" content="{{ site.facebook_page }}">{% endif %}
    {% if page.facebook.image %}
      <meta property="og:image" content="{{ page.facebook.image }}">
    {% elsif site.facebook_image %}
      <meta property="og:image" content="{{ site.facebook_image }}">
    {% endif %}
  {% endif %}
  <meta name="twitter:card" content="{{ page.twitter_card.type | default: "summary" }}">
  {% if site.twitter_username %}<meta name="twitter:site" content="{{ site.twitter_username }}">{% endif %}
  <meta name="twitter:title" content="{{ title | truncate: 70 }}">
  <meta name="twitter:description" content="{{ description | truncate: 200 }}">
  {% if page.twitter_card.creator %}
    <meta name="twitter:creator" content="{{ page.twitter_card.creator }}">
  {% elsif site.twitter_username %}
    <meta name="twitter:creator" content="{{ site.twitter_username }}">
  {% endif %}
  {% if page.twitter_card.image %}
    {% if page.twitter_card.type == 'gallery' %}
      <meta name="twitter:image0" content="{{ page.twitter_card.image }}">
      <meta name="twitter:image1" content="{{ page.twitter_card.image1 }}">
      <meta name="twitter:image2" content="{{ page.twitter_card.image2 }}">
      <meta name="twitter:image3" content="{{ page.twitter_card.image3 }}">
    {% else %}
      <meta name="twitter:image:src" content="{{ page.twitter_card.image }}">
      {% if page.twitter_card.type == 'photo' %}
        {% if page.twitter_card.width %}<meta name="twitter:image:width" content="{{ page.twitter_card.width }}">{% endif %}
        {% if page.twitter_card.height %}<meta name="twitter:image:height" content="{{ page.twitter_card.height }}">{% endif %}
      {% endif %}
    {% endif %}
  {% elsif site.twitter_image %}
    <meta name="twitter:image:src" content="{{ site.twitter_image }}">
  {% endif %}

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans">

  <!-- Favicon -->
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ "/assets/apple-touch-icon-57x57.png" | relative_url }}" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ "/assets/apple-touch-icon-114x114.png" | relative_url }}" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ "/assets/apple-touch-icon-72x72.png" | relative_url }}" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "/assets/apple-touch-icon-144x144.png" | relative_url }}" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ "/assets/apple-touch-icon-60x60.png" | relative_url }}" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ "/assets/apple-touch-icon-120x120.png" | relative_url }}" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ "/assets/apple-touch-icon-76x76.png" | relative_url }}" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ "/assets/apple-touch-icon-152x152.png" | relative_url }}" />
  <link rel="icon" type="image/png" href="{{ "/assets/favicon-196x196.png" sizes="196x196" | relative_url }}" />
  <link rel="icon" type="image/png" href="{{ "/assets/favicon-96x96.png" sizes="96x96" | relative_url }}" />
  <link rel="icon" type="image/png" href="{{ "/assets/favicon-32x32.png" sizes="32x32" | relative_url }}" />
  <link rel="icon" type="image/png" href="{{ "/assets/favicon-16x16.png" sizes="16x16" | relative_url }}" />
  <link rel="icon" type="image/png" href="{{ "/assets/favicon-128.png" sizes="128x128" | relative_url }}" />
  <meta name="application-name" content="yanez.io" />
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="{{ "/assets/mstile-144x144.png" | relative_url }}" />
  <meta name="msapplication-square70x70logo" content="{{ "/assets/mstile-70x70.png" | relative_url }}" />
  <meta name="msapplication-square150x150logo" content="{{ "/assets/mstile-150x150.png" | relative_url }}" />
  <meta name="msapplication-wide310x150logo" content="{{ "/assets/mstile-310x150.png" | relative_url }}" />
  <meta name="msapplication-square310x310logo" content="{{ "/assets/mstile-310x310.png" | relative_url }}" />
</head>
