<nav class="nav">
  <div class="nav-container">
    {% if page.lang == site.lang %}
      {% assign baseurl=site.baseurl | append: '/'  %}
    {% else %}
      {% assign baseurl=site.baseurl | append: '/' | append: page.lang %}
    {% endif %}

    <a href="{{ baseurl }}">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <ul>
      {% for item in site.data.navigation.languages %}
        {% if item.language == page.lang %}
          {% for link in item.links %}
            <li><a href="{{ link.url | relative_url }}">{{ link.title }}</a></li>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
