.post {
  padding: 0;

  &-info {
    color: $default-tint;
    font-family: $sans-serif-secondary;
    letter-spacing: 0.5px;
    text-align: center;

    span {
      font-style: italic;
    }
  }

  &-title {
    color: $default-shade;
    font-family: $sans-serif;
    font-size: 3rem;
    text-align: left;
    margin: 1rem 0;
  }

  &-line {
    border-top: 0.1rem solid $default-shade;
    display: block;
    margin: 0 auto 1rem;
    width: 100%;
  }

  p {
    margin: 0 0 1rem;
    text-align: justify;
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    margin: 2rem 0;
  }

  img + em {
    color: $default-tint;
    display: block;
    font-family: $sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;
  }

  time {
    color: $default-tint;
    font-family: $sans-serif-secondary;
    letter-spacing: .5px;
  }

  li {
    margin: 1rem 0;
  }
}
