---
layout: default
---

<div class="catalogue">

  {%- if site.posts.size > 0 -%}
    {%- for post in site.posts -%}
      <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
        <div>
          <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
          <h1 class="catalogue-title">{{ post.title }}</h1>
          <div class="catalogue-line"></div>

          <p>
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
          </p>

          </div>
        </a>
    {%- endfor -%}

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
